In [1]:
import pandas as pd
from sklearn import tree

In [5]:
df = pd.read_csv('Online_shop.csv')

In [6]:
df

   Height  weight  Shoe size Gender
0     181      80         44      M
1     177      70         43      F
2     160      60         38      F
3     154      54         37      F
4     166      65         40      M
5     190      90         39      M
6     175      60         42      M
7     171      75         43      F
8     185      85         42      F
9     169      71         47      M

In [7]:
x = df.iloc[:,:-1]   #iloc for slicing

In [8]:
x

   Height  weight  Shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40
5     190      90         39
6     175      60         42
7     171      75         43
8     185      85         42
9     169      71         47

In [10]:
y = df.iloc[:,3]
y

0    M
1    F
2    F
3    F
4    M
5    M
6    M
7    F
8    F
9    M
Name: Gender, dtype: object

In [11]:
classify = tree.DecisionTreeClassifier()

In [14]:
classify = classify.fit(x,y)  #trained the data.

In [15]:
prediction = classify.predict(x)

In [16]:
prediction

array(['M', 'F', 'F', 'F', 'M', 'M', 'M', 'F', 'F', 'M'], dtype=object)

In [18]:
classify.predict([[190,70,43]])   #trined data alltime two dymention.

array(['F'], dtype=object)

In [19]:
classify.predict([[240,80,44]])

array(['M'], dtype=object)