In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('marital status.csv')

In [5]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [7]:
df.isnull().sum()                       #Null value checking.

age       0
status    1
dtype: int64

In [8]:
median = df['status'].median()

In [9]:
median

0.0

In [10]:
df.status = df.status.fillna(median)             #Handling null value.

In [11]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [13]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [14]:
x = df[['age']]

In [15]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [16]:
y = df['status']

In [17]:
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [19]:
from sklearn.model_selection import train_test_split          #sepate values.

In [20]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.40,random_state=1)

In [21]:
xtrain

    age
7    30
1    33
13   24
0    21
19   25
18   26
9    22
15   29
8    29
12   22
11   20
5    33

In [32]:
xtest

    age
3    28
16   16
6    23
10   26
2    24
14   34
4    17
17   18

In [28]:
from sklearn.linear_model import LogisticRegression   #import LogisticRegression.

In [29]:
m = LogisticRegression()   #obj creating of LogisticRegression.

In [30]:
m.fit(xtrain,ytrain)   #trained datas

LogisticRegression()

In [31]:
m.predict(xtest)

array([1., 0., 0., 1., 0., 1., 0., 0.])

In [33]:
m.score(xtest,ytest)  #Accuracy checking.

1.0

In [34]:
m.predict_proba(xtest)

array([[0.2898005 , 0.7101995 ],
       [0.98826749, 0.01173251],
       [0.78992216, 0.21007784],
       [0.49799266, 0.50200734],
       [0.70688322, 0.29311678],
       [0.02761683, 0.97238317],
       [0.9818261 , 0.0181739 ],
       [0.97194864, 0.02805136]])